@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-Harbor-first: #354649;
  --color-Harbor-sec: #6c7a89;
  --color-Harbor-third: #a3c6c4;
  --color-Harbor-firth: #e0e7e9;
}
